{% extends "base.html" %}

{% block conteudo %}
    <a href="/alunos/add">Adicionar</a>
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div class="message">
            {{ msg }}
        </div>
        {% endfor %}
    {% endif %}
    <section>
        <table>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Idade</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            {% for alunos in dados %}
            <tr>
                <td>{{alunos.nome}}</td>
                <td>{{alunos.matricula}}</td>
                <td>{{alunos.idade}}</td>
                <td><a href="/alunos/edit/{{alunos.id_alunos}}">[E]</a></td>
                <td><a href="/alunos/remove/{{alunos.id_alunos}}">[X]</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
